@model FootballShare.Web.Models.PoolDetailsViewModel

@{
    ViewData["Title"] = Model.Pool.Name;
}

<h1>@Html.DisplayFor(model => model.Pool.Name)</h1>
<h4>@Html.DisplayFor(model => model.Pool.Season.Name)</h4>
@if (Model.CurrentUserMembership.IsAdmin)
{
    <p>
        @Html.ActionLink("Edit Pool", "Edit", new { id = Model.Pool.Id })
    </p>
}
<hr />
<h5>Upcoming Events</h5>
<table class="table">
    <thead>

    </thead>
    <tbody>

    </tbody>
</table>
<h5>Standings</h5>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Members[0].User.DisplayName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Members[0].Balance)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Members)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.User.DisplayName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Balance)
                </td>
            </tr>
        }
    </tbody>
</table>
<div>
    <a asp-action="Index">Back to Pool List</a> | 
    @Html.ActionLink("Leave Pool", "Leave", new { id = Model.Pool.Id })
</div>