@model FootballShare.Web.Models.PoolDetailsViewModel

@{
    ViewData["Title"] = Model.Pool.Name;
    var parameters = new Dictionary<string, string>
    {
        { "id", Model.Pool.Id.ToString() }
    };
}

<h1>@Html.DisplayFor(model => model.Pool.Name)</h1>
<h4>@Html.DisplayFor(model => model.Pool.Season.Name)</h4>
@if (Model.CurrentUserMembership.IsAdmin)
{
    <p>
        @Html.ActionLink("Edit Pool", "Edit", new { id = Model.Pool.Id })
    </p>
}
<hr />
<h5>Current Week</h5>
<table class="table table-striped">
    <tbody>
        <tr>
            <td>
                @Html.DisplayFor(model => model.CurrentSeasonWeek.Name)
            </td>
            <td>
                @Html.ActionLink("Place Bets", "Events", "Betting", new { seasonWeekId = Model.CurrentSeasonWeek.Id, poolId = Model.Pool.Id })
            </td>
        </tr>
    </tbody>
</table>
<h5>Standings</h5>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Members[0].User.DisplayName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Members[0].Balance)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Members)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.User.DisplayName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Balance)
                </td>
            </tr>
        }
    </tbody>
</table>
<h5>History</h5>
<table class="table table-striped">
    <tbody>
        @foreach (var item in Model.PreviousSeasonWeeks)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.ActionLink("View Bets", "History", "Betting", new { seasonWeekId = item.Id, poolId = Model.Pool.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
<div>
    <a asp-action="Index">Back to Pool List</a> | 
    <a asp-action="Ledger" asp-all-route-data="parameters">View Transaction Ledger</a> | 
    @Html.ActionLink("Leave Pool", "Leave", new { id = Model.Pool.Id })
</div>