@model FootballShare.Web.Models.SeasonWeekEventsViewModel

@{
    ViewData["Title"] = Model.EventSpreads[0].Event.Week.Season.Name + ": " + Model.EventSpreads[0].Event.Week.Name;
    var parameters = new Dictionary<string, string>
    {
        { "id", Model.PoolMembership.PoolId.ToString() }
    };
}

<h1>@Model.EventSpreads[0].Event.Week.Season.Name: @Model.EventSpreads[0].Event.Week.Name</h1>
<h5>@Model.PoolMembership.Pool.Name - You have $@Model.PoolMembership.Balance</h5>
<table class="table">
    <thead>
        <tr>
            <th>Event</th>
            <th>Time</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.EventSpreads) {
        <tr>
            <td>
                @Html.DisplayFor(modelName => item.Event.AwayTeam.Name) (@Html.DisplayFor(modelName => item.AwaySpread)) @@ @Html.DisplayFor(modelName => item.Event.HomeTeam.Name) (@Html.DisplayFor(modelItem => item.HomeSpread))
            </td>
            <td>@Html.DisplayFor(modelName => item.Event.Time)</td>
            @if(item.Event.Time > DateTimeOffset.Now) {
            <td>
                @Html.ActionLink("Place Bet", "Place", new { eventId=item.Id, poolId=Model.PoolMembership.PoolId })
            </td>
            }
            else {
            <td>
                (Bets closed)
            </td>
            }
        </tr>
}
    </tbody>
</table>
<hr />
<div>
    <a asp-action="Details" asp-controller="Pools" asp-all-route-data="parameters">Back to Pool</a>
</div>
