@model FootballShare.Web.Models.SeasonWeekEventsViewModel

@{
    ViewData["Title"] = Model.EventSpreads[0].Event.Week.Season.Name + ": " + Model.EventSpreads[0].Event.Week.Name;
    var parameters = new Dictionary<string, string>
    {
        { "id", Model.PoolMembership.PoolId.ToString() }
    };
}

<h1>@Model.EventSpreads[0].Event.Week.Season.Name: @Model.EventSpreads[0].Event.Week.Name</h1>
<h5>@Model.PoolMembership.Pool.Name - You have $@Model.PoolMembership.Balance</h5>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Event</th>
            <th>Time</th>
            <th>Wager</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.EventSpreads) {
    var eventWager = Model.WeekWagers.Where(w => w.WeekEventId == item.WeekEventId).FirstOrDefault();
        <tr>
            <td>
                @Html.DisplayFor(modelName => item.Event.AwayTeam.Name) (@Html.DisplayFor(modelName => item.AwaySpread)) @@ @Html.DisplayFor(modelName => item.Event.HomeTeam.Name) (@Html.DisplayFor(modelItem => item.HomeSpread))
            </td>
            <td>
                @Html.DisplayFor(modelName => item.Event.Time)
            </td>
            @if(eventWager != null)
            {
                <td>
                    @eventWager.SelectedTeam.Name (@eventWager.SelectedTeamSpread): $@eventWager.Amount
                </td>
            }
            else
            {
                <td></td>
            }

            @if (item.Event.Time <= DateTimeOffset.Now)
            {
                <td>
                    (Past Deadline)
                </td>
            }
            else if (eventWager != null)
            {
                <td>
                    @Html.ActionLink("Cancel Bet", "Cancel", new { id = eventWager.Id })
                </td>
            }
            else if (Model.WeekWagers.Count() >= Model.PoolMembership.Pool.WagersPerWeek)
            {
                <td></td>
            }
            else
            {
                <td>
                    @Html.ActionLink("Place Bet", "Place", new { eventId = item.WeekEventId, poolId = Model.PoolMembership.PoolId })
                </td>
            }
        </tr>
}
    </tbody>
</table>
<hr />
<div>
    <a asp-action="Details" asp-controller="Pools" asp-all-route-data="parameters">Back to Pool</a>
</div>
